.wrapper {
  .cs {
    height: 2rem;
    line-height: 2rem;
    border: none;
  }
  .table {
    .warehouse {
      height: 2rem;
      line-height: 2rem;
      border-right: 1px solid;
      border-bottom: 1px solid;
      &:first-of-type {
        border-top: 1px solid;
        border-left: 1px solid;
      }
      &:nth-of-type(2) {
        border-top: 1px solid;
      }
      &:nth-of-type(3) {
        border-top: 1px solid;
      }
      &:nth-of-type(4) {
        border-top: 1px solid;
      }
      &:nth-of-type(5) {
        border-top: 1px solid;
      }
      &:nth-of-type(6) {
        border-top: 1px solid;
      }
      &:nth-of-type(7) {
        border-top: 1px solid;
      }
      &:nth-of-type(8) {
        border-top: 1px solid;
      }
      &:nth-of-type(9) {
        border-left: 1px solid;
      }
      &:nth-of-type(17) {
        border-left: 1px solid;
      }
      &:nth-of-type(25) {
        border-left: 1px solid;
      }
    }
  }
  .table_buttom {
    .title {
      height: 2rem;
      line-height: 2rem;
      background: yellow;
      margin: 1rem 0 2rem;
      box-shadow: .2rem .2rem .2rem #cccccc;
    }
  }
}
