.instock_form {
  height: 88vh;
  overflow: auto;
  margin-bottom: 2.5rem;
  .ant-form-item {
    .ant-col-24 {
      .am-list-item {
        height: 36px;
        min-height: unset;
        padding: 4px 11px;
        border: 1px solid #d9d9d9;
        border-radius: 4px;
        box-sizing: border-box;
        .am-list-content, .am-list-arrow {
          display: none;
        }
        .am-list-extra {
          flex: 1;
          padding: 0;
          text-align: left;
          font-size: 14px;
        }
      }
    }
  }
}